.grid {
  width: 400px;
  height: 600px;
  position: relative;
  background-image: url("background.jpg");
  font-size: 100px;
  text-align: center;
  color: red;
}

.skeleton {
  /*width:60px*/
  width: 87px;
  height: 73px;
  position: absolute;
  background-image: url("sket.png");
}

.platform {
  width: 85px;
  height: 15px;
  position: absolute;
  background-image: url("platform.png");
}
